.features-list {
  display: flex;
  margin: -15px;
}

.features-item {
  margin: 15px;
  flex-basis: calc(100% / 4 - 30px);
}

.page-icons {
  margin-bottom: 30px;
  gap: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--our-team-background);
  border-radius: 4px;
  @include display(flex, center, center);
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.page-social-icon {
  fill: var(--primary-text-color);
}

.features-sub-title {
  margin-bottom: 10px;
  @include font(700, 14px, 1.14, 0.03em);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-description {
  @include font(null, 14px, 1.71, 0.03em);
  //   font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
