.footer {
  padding: 60px 0;
  background-color: var(--footer-background);
  & .container {
    display: flex;
    align-items: baseline;
  }
}

.footer-contacts {
}

.address {
  color: var(--button-text);
  @include fonts(normal, $fs, 1.7, null);
  // font-style: normal;
  // font-size: 14px;
  // line-height: 1.7;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-bottom: 9px;
  @include fonts(400, $fs, 1.71, $ls);
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: var(--button-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.footer-tel {
  @include fonts(null, $fs, 1.71, $ls);
  // font-size: 14px;
  // line-height: 1.71;
  // letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.footer-mail {
  @include fonts(null, $fs, 1.71, $lh);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
