.our-job {
  padding-top: 0;
}

.our-job-title {
  text-align: center;
  margin-bottom: 50px;
  @include fonts(700, 36px, 1.16, $ls);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  // letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-job-list {
  display: flex;
  gap: 30px;
}

.our-job-item {
  background-color: var(--background-color);
  position: relative;
}

.our-job-element {
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  @include fonts(700, $fs, 1.14, $ls);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  @include display-flex($d, $ai, $jc);
  // display: flex;
  // text-align: center;
  // justify-content: center;

  text-transform: uppercase;
  color: var(--button-text);
}
