.regular-clients {
  padding: 94px 0;
  .regular-clients__title {
    @include fonts(700, 36px, 1.16, $ls);
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    // letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }

  .regular-clients__list {
    display: flex;
    gap: 310px;
  }

  .regular-clients__item {
  }

  .regular-clients__link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    outline: transparent;
    @include display-flex($d, $ai, $jc);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @include animation(border, null, null, $time, $func);
    // transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .regular__clients:hover,
    .regular__clients:focus {
      border: 1px solid var(--hover-color);
      fill: var(--hover-color);
    }
  }

  .regular-clients__icon {
    display: inline-flex;
    fill: var(--icon-color);
    @include animation(fill, null, null, $time, $func);
    // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .regular-clients__link:hover &,
    .regular-clients__link:focus & {
      fill: var(--hover-color);
    }
  }
}
