.regular-clients {
  padding: 94px 0;
}

.regular-clients__title {
  @include font(700, 36px, 1.16, 0.03em);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.16;
  // letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.regular-clients__list {
  display: flex;
  gap: 30px;
}

/* .regular-clients-item {
} */

.regular-clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  outline: transparent;
  @include display(flex, center, center);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--hover-color);
    fill: var(--hover-color);
  }
}

.regular-clients__icon {
  display: inline-flex;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .regular-clients__link:hover &,
  .regular-clients__link:focus & {
    fill: var(--hover-color);
  }
}
