.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  @include fonts(700, 26px, 1.19, $lh);
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-color);
}

.studio-footer {
  color: var(--button-text);
}
